# Data
data/raw/
data/processed/
*.csv
*.parquet

# Models
models/sarima/
models/prophet/
models/xgboost/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/secrets.toml
